@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background: #2355f2;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.container h1,
.content p {
  text-align: center;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .form {
  width: 330px;
  text-align: center;
  margin-top: 15px;
}

.content .form input {
  outline: none;
  border: none;
  padding: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: rgb(240, 238, 238);
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.content .form [type="number"] {
  width: 160px;
}

.content .form [type="submit"] {
  width: 130px;
  font-weight: 700;
  cursor: pointer;
}

.content .answer {
  color: #fff;
  display: none;
  gap: 30px;
  margin-top: 20px;
}

.answer span:first-child {
  background: #476ff1;
  padding: 5px;
}

.answer .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


@media screen and (max-width:380px){
  .container{
    
    padding: 8px;
  }
}

@media screen and (max-width:500px){
  
  .answer{
    flex-direction: column;
  }

  /* .answer .result{
    border-bottom: 1px solid #fff;
  } */
}
